*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
  text-decoration: none;
}
.container{
    max-width: 1220px;
}
/* ----------top header col-5 styling start--------- */
.ps-top-header{
    background: #F0F0ED;
    height: 30px;
}
.ps-top-header .date .date-area{
   font-size: 13px;
   gap: 10px;
   line-height: 30px;
   color: #000;
   list-style: none;
}
.ps-top-header .date .date-area li a{
    list-style: none;
    text-decoration: none;
}
.ps-top-header .date .date-area li i{
    padding-right:5px;
    color: #000000;
}
/* ---------top header col-5 styling end--------- */
/* ---------top header col-7 styling start ---------*/
.ps-top-header .top-icon {
    font-size: 13px;
}
.ps-top-header .top-athre-link ul li i{
    padding-right:5px;
    line-height: 30px;

}
.ps-top-header .top-helper-icon ul li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    display: block;
    float: left;
    white-space: nowrap;
    text-decoration: none;
    transition: width 0.5s;
    box-sizing: border-box;
}
.ps-top-header .top-helper-icon ul li a .fa-brands{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-right: 2px solid #fff;
}
.ps-top-header .top-helper-icon ul li:nth-child(1) a{
    background: #3b5999;
}
.ps-top-header .top-helper-icon ul li:nth-child(2) a{
    background: #CD201F;
}
.ps-top-header .top-helper-icon ul li:nth-child(3) a{
    background: #55ACEE;
}
.ps-top-header .top-helper-icon ul li:nth-child(4) a{
    background: #E04140;
}
.ps-top-header .top-helper-icon ul li:nth-child(5) a{
    background: #007BB6;
}
.ps-top-header .top-helper-icon ul li:nth-child(6) a{
    background: #CB2027;
}
.ps-top-header .top-helper-icon ul li:nth-child(7) a{
    background: #F26522;
}
/* ---------top header col-7 styling end ---------*/

/* =============================logo styling start ======================*/ 
.top-main-logo{
    padding:20px 0 20px 0;
}
/* ==================================logo styling end==========================*/ 
/* =============================col-11 navbar styling start ====================================*/
.ps-navbar {
   
    background: #F0F0ED;
    box-shadow: 0 5px 5px -5px #000;
    position: relative;
    width: 100%;
    z-index: 9999;
    padding: 9px;
}
.navbar-nav .home{
    background-color: #19232D;
    border-bottom: 4px solid #E74C4F;
    color: #FFFFFF;
}
.navbar-nav li a{
    padding:9px;
    text-decoration: none;
    color: #000;
}
.navbar-nav li a:hover{
    background-color: #19232D;
    border-bottom: 4px solid red;
    color: #FFFFFF;
}
/*================================= col-11 navbar styling end =============================*/

/*================================= col-1 navbar styling start =============================*/

/*================================= col-1 navbar styling end =============================*/
/* =================================top-news-section styling start========================= */
.ps-top-news-section{
    background: #EFF3F4;
}
/* ---------------------------top-news-left styling start------------------ */
.top-news-left{
    width: 30%;
    margin: auto;
    float: left;
}
.ps-top-news-section .top-news-left ul li{
    background: #fff;
    margin-bottom: 19px;

}
.ps-top-news-section .top-news-left ul li .img-left{
    overflow: hidden;
    position: relative;
}
.ps-top-news-section .top-news-left ul li .img-left span{
    background: #dc2028;
    padding: 5px 10px;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    color: #fff;
    right: 0;
    top: -31px;
    transition: all .5s ease 0s;
}
.ps-top-news-section .top-news-left ul li:hover span{
    top: 0;
    transition: 1s;
}
.ps-top-news-section .text-right span{
   font-size: 12px;
   color: red;
}
.ps-top-news-section .text-right p{
   font-size: 15px;
   color: #000;
}
/* ---------------------------top-news-left styling end------------------ */
/* /* ---------------------------top-news-middil styling start------------------ */
.top-news-middil{
    width: 40%;
    float: left;
    margin: auto;
}
.middil-top-news{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}
.middil-top-news .middil-img{
    overflow: hidden;
    position: relative;
}
.middil-top-news .middil-img span{
    background: #dc2028;
    padding: 5px 10px;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    color: #fff;
    right: 0;
    top: -31px;
    transition: all .5s ease 0s;
}
.middil-top-news .middil-img:hover span{
    top: 0;
    transition: 1s;
}
.middil-top-news .news-hading{
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, .8) 100%);
    color: #fff;
    bottom: 0;
    padding: 30px 10px 5px;
}
.middil-news-item{
    background: #fff;
}

/* ---------------------------top-news-middil styling end------------------ */
/* ---------------------------top-news-left styling start------------------ */
.top-news-right{
    width: 30%;
    float: left;
    margin: auto;
}
.news-rigth-itm .hading{
    background: #fff;
    border: 1px solid #CCCCCC;
    border-bottom: 4px solid red;
    font-size: 20px;
    padding: 10px;
}
.news-rigth-itm ul{
    background: #fff;
}
.buttom-right-itm{
    background: #fff;
}
.buttom-right-itm ul .nav-itm{
    border-top: 3px solid red;
}
.scrol-itm{
    height: 300px;
    background: #fff; 
    overflow: scroll;
}
.scrol-itm ul li{
    border-bottom: 1px dotted black;
}
/* ---------------------------top-news-left styling end------------------ */
/* =================================top-news-section styling end========================= */
/* =================================section-two-pat styling start======================== */
.ps-video-icon {
    position: relative;
}
.ps-video-pused {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ps-video-pused i{
    font-size: 40px;
}
.video-box:hover i{
    color: red;
}

/* =================================section-two-pat styling end======================== */
/* =================================footer styling start======================== */

/* =================================footer styling end======================== */


